{% extends 'base/base.html' %}

{% block title %}
    Client List
{% endblock title %}

{% block content %}
    
    {% if user.is_authenticated  %}
        {% include 'base/navbar.html' %}
        <br>
        <div class="container">
            <div class="col col-2 mb-2 float-left">
                <strong>{{user.username}}</strong> :: <small>user</small>
            </div>
            <div class="col col-4 float-right">
                <button type="button" class="btn btn-primary btn-sm js-create-client mb-2 float-right" data-url="{% url 'client:new_client' %}">
                    New client   
                </button>
                <button type="button" class="btn btn-primary btn-sm js-pdf-client mx-2 float-right" onclick="window.open('/clients/report/')">
                    PDF 
                </button>
            </div>
            
            <div class="table-responsive">
                <table class="table table-hover" id="clientList">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Client No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>IP Address</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'includes/partial_client_list.html' %}
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="newClient">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-5 mx-auto">
            <br>
            <div class="mt-4">
                <h5>You are not logged in</h5>
                <a class="btn btn-primary btn-sm" href="{% url 'login' %}">login now.</a>
            </div>
        </div>
    {% endif %}
{% endblock content %}

    
    